@font-face {
  font-family: 'Roboto Condensed Light';
  src: url(/asset/font/RobotoCondensed-Light.woff2) format('woff2'),
    url(/asset/font/RobotoCondensed-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url(/asset/font/RobotoCondensed-Regular.woff2) format('woff2'),
    url(/asset/font/RobotoCondensed-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url(/asset/font/RobotoCondensed-Bold.woff2) format('woff2'),
    url(/asset/font/RobotoCondensed-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url(/asset/font/Raleway-SemiBold.woff2) format('woff2'),
    url(/asset/font/Raleway-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url(/asset/font/Raleway-Bold.woff2) format('woff2'),
    url(/asset/font/Raleway-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-light-color: #FFFFFF;
  --title-color: #01353E;
  --text-color-one: #000000;
  --bg-color: #F8F8F8;
  --main-color: #00B2A0;
  --text-color-two: #242121;
  --btn-border-color: #C4C4C4;
  --form-border-color: #DADADA;
  --h1-color: #0D302C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Roboto Condensed Regular';
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-image: url(/asset/img/header/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.header__row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 955px;
}

.logo {
  flex-shrink: 0;
}

.header__logo {}

.nav {}

.header__nav {}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 45px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-light-color);
  border-bottom: 1px solid transparent;
  transition: 0.5s ease-in-out;
}

.menu__link:hover {
  border-bottom: 1px solid var(--main-color);
}

.header__row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 243px 0 92.19px 0;
}

.h1 {
  font-family: 'Raleway Bold';
  font-size: 12.5rem;
  color: var(--h1-color);
  margin: 0;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--text-color-one);
  margin: 0;
}

.header__decor {
  margin-top: 315px;
}

.about {
  padding: 189px 0 199px 0;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.h2 {
  margin: 0;
  font-family: 'Raleway SemiBold';
  font-size: 3rem;
  color: var(--title-color);
}

.about__title {}

.title__decor {
  position: relative;
  top: 20px;
  width: 48px;
  height: 85px;
}



.about__text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.ab-t__row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1080px;
}

.ab-t__row:first-child {
  margin: 0;
}

.text {
  font-family: 'Roboto Condensed Light';
  font-size: 0.875rem;
  color: var(--text-color-two);
  line-height: 129%;
}

.ab-t__row p {
  max-width: 480px;
  margin: 0;
}

.in-school {
  padding: 200px 0;
  background-color: var(--bg-color);
}

.in__title {}

.benefits {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 102px;
}

.ben__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  height: 137px;
}

.ben-card__row {
  display: flex;
  align-items: center;
}

.ben-card__icon {
  max-height: 50px;
}

.ben-card__title {
  font-family: 'Roboto Condensed Regular';
  font-size: 1.5rem;
  color: var(--text-color-two);
  margin: 0;
}

.ben-card__text {
  margin: 0;
}

.in__row {
  display: flex;
  justify-content: space-between;
}

.stat {
  max-width: 50%;
}

.stat__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.stat__card:last-child {
  margin: 0;
}

.stat-card__row {
  display: flex;
  align-items: flex-end;
}

.stat-card__scale {
  margin-right: 10px;
}

.stat-card_percent {
  font-family: 'Roboto Condensed Regular';
  font-size: 1.5rem;
  line-height: 75%;
  letter-spacing: 0.6px;
  color: var(--text-color-two);
  margin: 0;
}

.stat-card__text {
  font-family: 'Roboto Condensed Light';
  letter-spacing: 0.6px;
  color: var(--text-color-two);
  margin: 0;
}

.in__text {
  max-width: 50%;
}

.in__text p:first-child {
  margin-bottom: 30px;
}

.peaks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 201px;
}

.peaks__col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  padding: 200px 41px 146px 20px;
}

.peaks__col2 {
  background-image: url(/asset/img/peaks/peaks.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.peaks__title {
  justify-content: flex-start;
}

.peaks__text {
  margin-top: 71px;
}

.peaks__text p {
  max-width: 507px;
  margin-bottom: 30px;
  margin-top: 0;

}

.peaks__text p:last-child {
  margin-bottom: 0;
}

.gallery {
  padding-bottom: 200px;
}

.gal__buttons {
  padding-top: 183px;
  display: flex;
  justify-content: flex-start;
}

.gal-btn__item {
  margin-right: 20px;
}

.gal-btn__item:last-child {
  margin: 0;
}

.gal-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color-two);
  transition: 0.5s ease-in-out;
}

.gal-btn:hover,
.gal-btn:active {
  color: var(--main-color);
}

.gal__row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img6";
  gap: 40px;
}

.img1 {
  grid-area: img1;
  width: 580px;
  height: 280px;
}

.img2 {
  grid-area: img2;
  width: 290px;
  height: 280px;
}

.img3 {
  grid-area: img3;
  width: 250px;
  height: 280px;
}

.img4 {
  grid-area: img4;
  width: 250px;
  height: 280px;
}

.img5 {
  grid-area: img5;
  width: 290px;
  height: 280px;
}

.img6 {
  grid-area: img6;
  width: 580px;
  height: 280px;
}

.gal__btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btn {
  background: var(--text-light-color);
  border: 1px solid var(--btn-border-color);
  padding: 23px 91px;
  font-size: 1.5rem;
}

.quote {
  background-color: var(--bg-color);
  padding: 81px 166px 62px 312px;
}

.quote__text {
  font-family: 'Roboto Condensed Regular';
  font-style: italic;
  font-size: 2.25rem;
  line-height: 111%;
  letter-spacing: 0.6px;
  color: var(--text-color-two);

  margin: 0;
  display: flex;
  justify-content: center;
}

.quote__subtext {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: 0.6px;
  color: var(--text-color-two);
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.video {
  padding-top: 203px;
  padding-bottom: 200px;
}

.video__player {}

.options {
  padding: 0px 253px 198px 251px;
}

.opt_cont {
  display: flex;
  justify-content: space-between;
}

.opt__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opt-c__quantity {
  font-family: 'Roboto Condensed Bold';
  font-size: 4rem;
  line-height: 117%;
  letter-spacing: 0.6px;
  color: var(--title-color);
  margin: 0;
}

.opt-c__title {
  font-family: 'Roboto Condensed Light';
  font-size: 0.875rem;
  line-height: 128%;
  letter-spacing: 0.6px;
  color: var(--text-color-two);
  margin-top: 5px;
  margin-bottom: 0;
}
